<nav class="navbar">
    <div class="navbar-left">
        <h2>BolBarber</h2>
    </div>
    <div class="navbar-right">
        <button>Principal</button>
        <button (click)="goToProducts()">Productos</button>
        <button (click)="goToCitations()">Citas</button>
        <button (click)="goToProfile()">Perfil</button>
        <button (click)="goToAbout()">Acerca de</button>
        <button (click)="logOut()">Cerrar sesión</button>
    </div>
</nav>

<div class="image-gallery">
    <img src="assets/image1.jpeg" alt="Barber 1" class="image-box">
    <img src="assets/image2.jpg" alt="Imagen 2" class="image-box">
    <img src="assets/image3.jpeg" alt="Imagen 3" class="image-box">
    <img src="assets/image4.jpeg" alt="Imagen 4" class="image-box">
    <img src="assets/image5.jpeg" alt="Imagen 5" class="image-box">
    <img src="assets/image6.jpeg" alt="Imagen 6" class="image-box">
    <img src="assets/image7.jpeg" alt="Imagen 7" class="image-box">
    <img src="assets/image8.jpeg" alt="Imagen 8" class="image-box">
</div>